.container-main-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.container-main-grid button{
    border-radius: 50%;
    padding: 0.5rem;
    
}
.selectedStyle{
    background-color: blue;
    color: #ffffff;
}